<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC 
  "-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
  "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <!-- property name="connection.driver_class">com.mysql.jdbc.Driver</property -->
    <property name="connection.url">jdbc:mysql://localhost/AIT</property>
    <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
    <property name="connection.username">root</property>
    <property name="connection.password">301199</property>
    <property name="show_sql">true</property>
    <property name="hbm2ddl.auto">update</property>
    
   <!--   <mapping class="com.entity.Student"/> -->
   
   <!--  <mapping class="com.method.Student1"/>  -->
    
   <!--   <mapping class="com.emebeddble.Address"/>
   <mapping class="com.emebeddble.StudDetails"/> -->
          
   
  <!--   <mapping class="com.oneToone.Vehicle1"/>
   <mapping class="com.oneToone.Person1"/> -->
   
   <!-- <mapping class="com.OneTomany.Department"/>
   <mapping class="com.OneTomany.Employee"/>  -->
   
  <!--  <mapping class="com.ManyToone.Dept1"/>
   <mapping class="com.ManyToone.Emp1"/> --> 
   
  <!--   <mapping class="com.ByDirectionMapping.Department2"/>
   <mapping class="com.ByDirectionMapping.Employee2"/> -->
   
  <!--   <mapping class="com.HQLDemo.Teacher"/> -->
  
 <!--   <mapping class="com.inherit.Teacher1"/>
  <mapping class="com.inherit.PermanentTeacher"/>
  <mapping class="com.inherit.VisitingTeacher"/>  -->
  
  
 <!--   <mapping class="com.ManyTomany.Question"/>
  <mapping class="com.ManyTomany.Answer"/>  -->
  
  
   <mapping class="com.CollectionListMapped.Question1"/>
  <mapping class="com.CollectionListMapped.Answer1"/>
    
  </session-factory>
</hibernate-configuration>